#footer-container {
    width: 100%;
    margin: auto auto 0 auto;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
}

#footer-left {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}

#footer-right {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}

#social-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.social-icon {
    font-size: 3rem;
    margin: 0.5rem 0.75rem;
}

#footer-left-title {
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem auto 0.5rem 0;
}

#footer-right-title {
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem 0 0.5rem auto;
}

@media only screen and (max-width: 500px) {
    #links-container {
        width: 100%;
        margin: 0 auto;
    }
    
    #social-container {
        display: flex;
        justify-content: space-around;
        margin: 1rem auto 0 auto;
        padding: 1rem;
    }
}