<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "Shopping List App" }}</title>
</head>
<body>
    <nav>
        {% if user_id %}
            <a href="{{ request.url_for('recipes') }}">My Recipes</a>
            <a href="{{ request.url_for('view_shopping_list_get') }}">Shopping List</a>
            <a href="{{ request.url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ request.url_for('login_get') }}">Login</a>
        {% endif %}
    </nav>
    <hr>
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
